<!DOCTYPE html>
{% load static %}

<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asset/styles/css/about-us.css' %}">
    <link rel="icon" href="{% static '/asset/images/FAVIICON.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>درباره انجمن علمی علوم کامپیوتر</title>
</head>

<body>
    <header class="header"></header>
    <h1>
        درباره انجمن علمی علوم کامپیوتر دانشگاه گیلان
    </h1>
    <section class="main-body">
        <div class="about-us-contents">
            <div class="text-contents">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
            <div class="image-contents">
                <img src="{% static './asset/images/sliders/slider-2.jpg' %}" alt="عکس درباره انجمن">
            </div>
        </div>
    </section>
    <section class="members-part">
        <h3>
            اعضای انجمن
        </h3>
        <P>
            با برخی از اعضای انجمن علوم کامپیوتر دانشگاه گیلان آشنا شوید
        </P>
        <div class="memebers-images-container">
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-1.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-2.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-3.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-4.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-5.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-6.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-7.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
            <div class="members-details">
                <img src="{% static 'asset/images/main_page/random-people-8.jpeg' %}" alt="عکس اعضای انجمن">
                <span class="members-hidden-content">
                    <h4>اسم عضو انجمن</h4>
                    <p>تخصص عضو انجمن یا توضیح</p>
                </span>
            </div>
        </div>
    </section>
    <section class="glories-of-associations">
        <h3 class="glory-title">
            افتخارات انجمن علمی علوم کامپیوتر دانشگاه گیلان
        </h3>
        <div class="glory-items-wrapper">
            <div class="glory-item glory-one">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
            <div class="glory-item glory-two">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
            <div class="glory-item glory-three">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
            <div class="glory-item glory-four">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
            <div class="glory-item glory-five">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
            <div class="glory-item glory-six">
                <img src="{% static './asset/images/main_page/sucsess.png' %}" alt="عکس افتخارات انجمن">
                <p>لورم ایپسوم متن ساختگی توسط طراحان چاپ است</p>
            </div>
        </div>
    </section>
    <footer class="footer"></footer>
    <div class="menuCloser"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'asset/js/static_pages/static.js' %}" type="module"></script>
</body>

</html>