<!DOCTYPE html>
{% load static %}

<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asset/styles/css/newses.css' %}">
    <link rel="icon" href="{% static '/asset/images/FAVIICON.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>اخبار انجمن علمی علوم کامپیوتر دانشگاه گیلان</title>
</head>

<body>
    <header class="header"></header>
    <section class="newses-body">
        <h1 class="newses-title">
            اخبار انجمن
        </h1>
        <div class="newses-wrapper">
            <!-- <div class="single-news">
                <img src="../../static/asset/images/main_page/news-image.jpeg" alt="تصویر برای اخبار">
                <h2 class="news-title">عنوان برای اخبار</h2>
                <span class="news-date">۱۶ /۱۱ /۱۴۰۰</span>
                <p class="news-content">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
                <a href="#" class="show-more">ادامه ...</a>
            </div>
            <div class="single-news">
                <img src="../../static/asset/images/main_page/news-image.jpeg" alt="تصویر برای اخبار">
                <h2 class="news-title">عنوان برای اخبار</h2>
                <span class="news-date">۱۶ /۱۱ /۱۴۰۰</span>
                <p class="news-content">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
                <a href="#" class="show-more">ادامه ...</a>
            </div>
            <div class="single-news">
                <img src="../../static/asset/images/main_page/news-image.jpeg" alt="تصویر برای اخبار">
                <h2 class="news-title">عنوان برای اخبار</h2>
                <span class="news-date">۱۶ /۱۱ /۱۴۰۰</span>
                <p class="news-content">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
                <a href="#" class="show-more">ادامه ...</a>
            </div>
            <div class="single-news">
                <img src="../../static/asset/images/main_page/news-image.jpeg" alt="تصویر برای اخبار">
                <h2 class="news-title">عنوان برای اخبار</h2>
                <span class="news-date">۱۶ /۱۱ /۱۴۰۰</span>
                <p class="news-content">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
                <a href="#" class="show-more">ادامه ...</a>
            </div> -->
        </div>
    </section>
    <footer class="footer"></footer>
    <div class="menuCloser"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'asset/js/news/newses.js' %}" type="module"></script>
</body>

</html>