<!DOCTYPE html>
{% load static %}

<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asset/styles/css/post.css' %}">
    <link rel="icon" href="{% static '/asset/images/FAVIICON.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>

<body>
    <header class="header"></header>
    <section class="single-post-wrapper">
        
    </section>
    <section class="related-post">
        <h2 class="other-post-title">
            دیگر مقالات
        </h2>
        <div class="postwarpper">

        </div>
    </section>
    <footer class="footer"></footer>
    <div class="menuCloser"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'asset/js/posts/singlepost.js' %}" type="module"></script>
</body>

</html>