<!DOCTYPE html>
{% load static %}

<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asset/styles/css/post.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>مقاله انجمن علمی دانشگاه گیلان</title>
</head>

<body>
    <header class="header"></header>
    <article class="single-post">
        <img src="" alt="تصویر مقاله">
        <h1>عنوان مقاله تست</h1>
        <h2 class="post-cat">
            دسته بندی ۲
        </h2>
        <p class="postcontent">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
            افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت
            می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
            دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
    </article>

    <footer class="footer"></footer>
    <div class="menuCloser"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'asset/js/posts/singlepost.js' %}" type="module"></script>
</body>

</html>