@import url(./asset/styles/fonts/fonts.css);
@keyframes comeAndGomf {
  0% {
    transform: translate(0, 0) rotate(360deg); }
  50% {
    transform: translate(50px, 0); }
  51% {
    transform: translate(50px, 50px); }
  52% {
    transform: translate(-50px, 50px); }
  53% {
    transform: translate(-50px, 0); }
  100% {
    transform: translate(0, 0) rotate(-360deg); } }
@keyframes slideChange {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "dirooz";
  color: #0a0a0a;
  line-height: 30px;
  background-color: #fdfdfd;
  min-width: 320px;
  position: relative;
  z-index: 1; }

body > * {
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s; }

ul {
  list-style: none;
  padding: 0; }

.firts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 300px;
  padding: 0 60px;
  height: 55px;
  border-bottom: 1px solid #888888; }
  .firts-row .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
    .firts-row .contact-info div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 10px;
      font-size: 13px;
      height: 100%;
      border-right: 1px solid #888888; }
      .firts-row .contact-info div i {
        font-size: 15px;
        color: #888888;
        margin: 0 5px;
        position: relative;
        top: 2px; }
      .firts-row .contact-info div a {
        color: #888888;
        display: inline-block; }
        .firts-row .contact-info div a:hover {
          color: #0a0a0a;
          transform: scale(1.1); }
    .firts-row .contact-info .last-news {
      background-color: #ff5f7e;
      padding: 5px 20px;
      margin: 0 5px;
      border-radius: 5px;
      color: #fff; }
    .firts-row .contact-info .last-news-content {
      font-size: 12px; }
  .firts-row .social-icons {
    height: 100%; }
    .firts-row .social-icons ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      height: 100%;
      margin: 0; }
      .firts-row .social-icons ul:last-child {
        border-left: 1px solid #888888; }
      .firts-row .social-icons ul li {
        border-right: 1px solid #888888;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; }
      .firts-row .social-icons ul a {
        color: #888888;
        font-size: 20px;
        display: inline-block; }
        .firts-row .social-icons ul a:hover {
          color: #0a0a0a;
          transform: scale(1.2) rotate(360deg); }

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px; }
  .main-header .logo img {
    width: 150px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }
  .main-header .show-in-small {
    display: none; }
  .main-header .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px; }
  .main-header .main-menu .active {
    color: #ff5f7e;
    font-weight: bold;
    transform: scale(1.2); }
  .main-header .main-menu a {
    color: #0a0a0a;
    font-size: 14px;
    background-color: #fdfdfd;
    padding: 10px 10px;
    display: inline-block; }
    .main-header .main-menu a:hover {
      color: #ff5f7e;
      font-weight: bold;
      transform: scale(1.2); }
  .main-header .burgerIcon {
    display: none; }

.slider {
  width: 100vw;
  height: 80vh;
  background-image: url(./asset/images/sliders/slider-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 40px;
  transition: all ease-in-out 1s;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }
  .slider .btn {
    color: #0a0a0a;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #fdfdfd;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .slider .btn:hover {
      cursor: pointer;
      color: #fdfdfd;
      background-color: #0a0a0a;
      transition: all ease-in-out 0.3s; }
  .slider .slider-content {
    width: 50%;
    display: block;
    margin: 0 auto; }
    .slider .slider-content h2 {
      font-size: 40px;
      margin: 0 0 2em;
      text-align: center; }
    .slider .slider-content p {
      text-align: justify;
      line-height: 35px;
      font-size: 17px; }
  .slider .slider-buttons {
    margin: 4em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .slider .slider-buttons a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 60px;
      margin: 0 20px; }
      .slider .slider-buttons a:first-child {
        color: #fdfdfd;
        background-color: #0a0a0a;
        font-size: 17px;
        border-radius: 5px; }
      .slider .slider-buttons a:last-child {
        color: #0a0a0a;
        background-color: #fdfdfd;
        font-size: 17px;
        border-radius: 5px; }

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5em 60px;
  position: relative; }
  .about-us div {
    flex-basis: 50%;
    padding: 0 15px; }
  .about-us .au-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    border-radius: 10px; }
  .about-us .au-image:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 400px;
    border: 10px solid #142f43;
    top: 3.2em;
    right: 2.5em;
    border-radius: 10px; }
  .about-us .about-us-div {
    padding: 0 60px; }
    .about-us .about-us-div h3 {
      font-size: 25px;
      line-height: 40px;
      color: #142f43; }
    .about-us .about-us-div p {
      text-align: justify;
      line-height: 35px; }
    .about-us .about-us-div a {
      font-size: 20px;
      color: #888888; }
      .about-us .about-us-div a:hover {
        color: #fdfdfd;
        background-color: #ff5f7e;
        border-radius: 10px;
        padding: 10px 20px; }

.posts-cat {
  padding: 3em 60px;
  text-align: center; }
  .posts-cat h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #142f43; }
  .posts-cat .filter-posts {
    margin: 3em 0 4em; }
    .posts-cat .filter-posts ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 5px; }
      .posts-cat .filter-posts ul li {
        color: #ff5f7e;
        background-color: #fff;
        font-size: 13px;
        border-radius: 5px;
        border: 2px solid #ff5f7e;
        font-weight: bold;
        padding: 10px 0px;
        transition: all ease-in-out 0.3s; }
        .posts-cat .filter-posts ul li:hover {
          color: #fff;
          background-color: #ff5f7e;
          font-size: 13px;
          border-radius: 5px;
          cursor: pointer;
          transition: all ease-in-out 0.3s; }
      .posts-cat .filter-posts ul .active {
        color: #fff;
        background-color: #ff5f7e;
        font-size: 13px;
        border-radius: 5px;
        cursor: pointer; }
      .posts-cat .filter-posts ul i {
        margin: 0 10px;
        font-size: 20px;
        position: relative;
        top: 2px; }
  .posts-cat .posts {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding: 0 30px; }
  .posts-cat .single-post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    margin: 0 0 30px;
    box-shadow: inset 0px 0px 10px -5px #0000006b;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff; }
    .posts-cat .single-post img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto; }
    .posts-cat .single-post .posts-content {
      padding: 0 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .posts-cat .single-post .posts-content h4 {
        margin: 0 0 1em;
        font-size: 20px; }
      .posts-cat .single-post .posts-content p {
        text-align: justify;
        font-size: 13px; }
      .posts-cat .single-post .posts-content .post-category {
        color: #ff5f7e;
        background-color: #fff;
        font-size: 12px;
        border-radius: 5px;
        margin-left: 10px; }
        .posts-cat .single-post .posts-content .post-category:hover {
          color: #142f43; }
      .posts-cat .single-post .posts-content .post-date {
        font-size: 12px;
        color: #888888; }
      .posts-cat .single-post .posts-content .post-more-btn {
        color: #142f43;
        background-color: #fff;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid;
        padding: 5px 10px; }
        .posts-cat .single-post .posts-content .post-more-btn:hover {
          color: #fff;
          background-color: #142f43; }

.members-part {
  padding: 0 60px;
  text-align: center;
  position: relative; }
  .members-part h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #142f43; }
  .members-part p {
    font-size: 13px;
    margin-bottom: 2em;
    color: #ff5f7e; }
  .members-part .memebers-images-container {
    margin: 4em 0 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px; }
    .members-part .memebers-images-container img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      transition: all ease-in-out 0.3s; }
  .members-part .members-details {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px -5px #0000006b;
    transition: all ease-in-out 0.3s; }
    .members-part .members-details:hover {
      cursor: pointer;
      transform: translate(0, -20px);
      box-shadow: 0px 0px 10px 0px #0000006b;
      transition: all ease-in-out 0.3s; }
  .members-part .members-hidden-content {
    padding: 2em 0; }
    .members-part .members-hidden-content h4 {
      color: #142f43;
      font-size: 20px;
      margin: 2em 0; }
    .members-part .members-hidden-content p {
      color: #142f43;
      margin-bottom: 4em; }

.news-section {
  padding: 2em 60px;
  text-align: center; }
  .news-section h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #142f43; }
  .news-section p {
    margin-bottom: 2em; }
  .news-section .news-wrapper {
    margin: 4em 0 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .news-section .news-wrapper .single-news {
      margin: 0 15px;
      text-align: justify;
      box-shadow: inset 0px 0px 10px -5px #0000006b;
      border-radius: 10px;
      overflow: hidden;
      transition-duration: 0.5s; }
      .news-section .news-wrapper .single-news:hover {
        transform: translate(0, -20px);
        box-shadow: 0px 0px 10px 0px #142f436b;
        transition-duration: 0.5s; }
    .news-section .news-wrapper img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto; }
    .news-section .news-wrapper .news-contentwrpaper {
      padding: 1em 2em; }
      .news-section .news-wrapper .news-contentwrpaper p {
        font-size: 14px; }
    .news-section .news-wrapper h4 {
      font-size: 20px;
      margin: 0; }
    .news-section .news-wrapper .news-date {
      color: #ff5f7e;
      font-size: 13px; }
    .news-section .news-wrapper .read-more-news-btn {
      color: #142f43;
      background-color: #fdfdfd;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #142f43;
      padding: 5px 10px; }
      .news-section .news-wrapper .read-more-news-btn:hover {
        color: #fdfdfd;
        background-color: #142f43; }

.photo-gallery {
  text-align: center; }
  .photo-gallery h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #142f43; }
  .photo-gallery .photo-wrapper {
    margin: 4em 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .photo-gallery .photo-wrapper img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
      transition: all ease-in-out 0.3s;
      cursor: pointer; }
  .photo-gallery .blur .hover img {
    transform: scale(1.2);
    filter: blur(0);
    z-index: 2;
    border-radius: 10px;
    transition: all ease-in-out 0.3s; }
  .photo-gallery .blur img {
    filter: blur(5px); }

footer {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.08'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  padding: 30px 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  footer .footer-col {
    margin: 0 0 1em;
    padding: 0 15px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 200px; }
  footer a {
    color: #142f43;
    display: inline-block; }
    footer a:hover {
      color: #ff5f7e;
      transform: translate(-10px, 0px); }
  footer h4 {
    font-size: 25px;
    margin: 0 0 1em;
    color: #ff5f7e; }
  footer ul {
    line-height: 40px; }
  footer p {
    text-align: justify; }
  footer .foooter-call-links i {
    margin: 0 10px;
    position: relative;
    top: 2px;
    font-size: 18px;
    color: #ff5f7e; }
  footer .foooter-call-links a:hover {
    transform: translate(0, -10px); }
  footer .login-btn {
    color: #fdfdfd;
    background-color: #ff5f7e;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ff5f7e;
    padding: 10px 30px; }
    footer .login-btn:hover {
      color: #ff5f7e;
      background-color: #fdfdfd;
      transform: scale(1.1); }
  footer .social-footer {
    margin: 2em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    footer .social-footer li {
      width: 45px;
      height: 45px;
      margin: 0 5px;
      overflow: hidden;
      box-shadow: inset 0px 0px 10px -2px #0000006b;
      color: #fdfdfd;
      background-color: #ff5f7e;
      font-size: 20px;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      footer .social-footer li:hover a {
        transform: translate(0, 0); }
      footer .social-footer li:hover i {
        animation-name: comeAndGomf;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-direction: alternate; }
    footer .social-footer a {
      color: #fdfdfd; }
    footer .social-footer i {
      display: inline-block; }

.menu-actived {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh; }

@media (max-width: 1200px) {
  .firts-row {
    column-gap: 0px; }

  .slider .slider-content h2 {
    font-size: 35px;
    line-height: 50px; }

  .about-us .au-image:before {
    width: 200px;
    height: 300px;
    top: 7.2em;
    right: 3.5em; }
  .about-us .about-us-div h3 {
    font-size: 20px; }
  .about-us .about-us-div p {
    font-size: 14px; }
  .about-us .about-us-div a {
    font-size: 15px; }

  .posts-cat .filter-posts ul li {
    padding: 10px; }
    .posts-cat .filter-posts ul li span {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }

  .single-post {
    flex-basis: 50%; }

  .posts-content {
    flex-basis: 50%; }

  footer {
    font-size: 13px; }
    footer h4 {
      font-size: 17px; } }
@media (max-width: 991px) {
  .main-header {
    padding: 1em 60px; }
    .main-header .burgerIcon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .main-header .burgerIcon i {
        font-size: 20px;
        margin-left: 20px; }
    .main-header .main-menu {
      width: 100%; }
      .main-header .main-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .main-header .main-menu ul li {
          width: 100%;
          margin: 0 0 1em;
          border-radius: 5px;
          box-shadow: inset 0px 0px 10px -5px #0000006b;
          transition: all ease-in-out 0.3s;
          text-align: center; }
          .main-header .main-menu ul li:hover {
            box-shadow: 0px 0px 10px 0px #00000038; }
          .main-header .main-menu ul li a {
            background-color: unset; }

  .main-menu-container {
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    transform: translateX(-100vw);
    background-color: #fdfdfd;
    padding: 2em 3em;
    z-index: 2;
    overflow: scroll; }
    .main-menu-container .show-in-small {
      display: block; }

  .firts-row .contact-info .latest-news {
    display: none; }

  .slider .slider-content h2 {
    font-size: 30px;
    line-height: 50px; }

  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about-us img {
      width: 400px; }
    .about-us .au-image:before {
      width: 350px;
      height: 200px;
      top: 2.2em;
      right: 9.5em; }
    .about-us .about-us-div {
      padding: 2em 60px 0;
      text-align: center; }
      .about-us .about-us-div .about-anjoman-p {
        text-align: center; }
      .about-us .about-us-div a {
        float: right; }

  .posts-cat {
    padding: 0em 60px; }
    .posts-cat .posts {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 30px; }
      .posts-cat .posts .single-post {
        flex-direction: column;
        justify-content: center; }
        .posts-cat .posts .single-post .posts-content {
          padding: 2em 1em; }

  .members-part {
    margin: 2em 0 0; }
    .members-part .memebers-images-container {
      grid-template-columns: repeat(3, 1fr); }

  .news-section .news-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px; }

  .photo-gallery .photo-wrapper {
    grid-template-columns: repeat(3, 1fr); }

  footer {
    flex-direction: column; }
    footer h4 {
      font-size: 22px; } }
@media (max-width: 768px) {
  .posts-cat .filter-posts ul {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px; }

  .slider {
    padding: 0;
    column-gap: 20px; }
    .slider .slider-content {
      width: 100%; }
      .slider .slider-content h2 {
        font-size: 25px;
        line-height: 50px; }
      .slider .slider-content p {
        font-size: 14px; }
    .slider .btn {
      height: 100%;
      background-color: #fdfdfd40; }

  .firts-row {
    display: none; }

  .main-header {
    padding: 1em 30px; }

  .about-us {
    padding: 5em 0; }
    .about-us .au-image::before {
      display: none; }
    .about-us .about-us-div {
      padding: 2em 15px 0; }

  .posts-cat {
    padding: 0 10px; }
    .posts-cat h3 {
      font-size: 25px;
      line-height: 45px; }
    .posts-cat .filter-posts ul {
      grid-template-columns: repeat(2, 1fr); }
    .posts-cat .posts {
      flex-direction: column; }

  .members-part {
    padding: 0px 15px; }
    .members-part h3 {
      font-size: 25px; }
    .members-part .memebers-images-container {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 20px; }

  .news-section {
    padding: 2em 10px; }
    .news-section h3 {
      font-size: 25px; }
    .news-section .news-wrapper {
      grid-template-columns: repeat(1, 1fr); }

  footer {
    padding: 30px 10px 0; }
    footer .foooter-call-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
    footer h4 {
      margin: 0; } }

/*# sourceMappingURL=styles.css.map */
