@import url(../fonts/fonts.css);
@keyframes comeAndGomf {
  0% {
    transform: translate(0, 0) rotate(360deg); }
  50% {
    transform: translate(50px, 0); }
  51% {
    transform: translate(50px, 50px); }
  52% {
    transform: translate(-50px, 50px); }
  53% {
    transform: translate(-50px, 0); }
  100% {
    transform: translate(0, 0) rotate(-360deg); } }
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "dirooz";
  color: #0a0a0a;
  line-height: 30px;
  background-color: #fdfdfd;
  min-width: 320px;
  position: relative;
  z-index: 1; }

body > * {
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s; }

ul {
  list-style: none;
  padding: 0; }

.firts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 300px;
  padding: 0 60px;
  height: 55px;
  border-bottom: 1px solid #888888; }
  .firts-row .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
    .firts-row .contact-info div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 10px;
      font-size: 13px;
      height: 100%;
      border-right: 1px solid #888888; }
      .firts-row .contact-info div i {
        font-size: 15px;
        color: #888888;
        margin: 0 5px;
        position: relative;
        top: 2px; }
      .firts-row .contact-info div a {
        color: #888888;
        display: inline-block; }
        .firts-row .contact-info div a:hover {
          color: #0a0a0a;
          transform: scale(1.1); }
    .firts-row .contact-info .last-news {
      background-color: #ff5f7e;
      padding: 5px 20px;
      margin: 0 5px;
      border-radius: 5px;
      color: #fff; }
    .firts-row .contact-info .last-news-content {
      font-size: 12px; }
  .firts-row .social-icons {
    height: 100%; }
    .firts-row .social-icons ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      height: 100%;
      margin: 0; }
      .firts-row .social-icons ul:last-child {
        border-left: 1px solid #888888; }
      .firts-row .social-icons ul li {
        border-right: 1px solid #888888;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; }
      .firts-row .social-icons ul a {
        color: #888888;
        font-size: 20px;
        display: inline-block; }
        .firts-row .social-icons ul a:hover {
          color: #0a0a0a;
          transform: scale(1.2) rotate(360deg); }

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px; }
  .main-header .logo img {
    width: 150px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }
  .main-header .show-in-small {
    display: none; }
  .main-header .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px; }
  .main-header .main-menu .active {
    color: #ff5f7e;
    font-weight: bold;
    transform: scale(1.2); }
  .main-header .main-menu a {
    color: #0a0a0a;
    font-size: 14px;
    background-color: #fdfdfd;
    padding: 10px 10px;
    display: inline-block; }
    .main-header .main-menu a:hover {
      color: #ff5f7e;
      font-weight: bold;
      transform: scale(1.2); }
  .main-header .burgerIcon {
    display: none; }

.main-body {
  padding: 2em 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0 4em; }

h1 {
  color: #142f43;
  font-size: 40px;
  text-align: center;
  margin: 2em 0; }

.about-us-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .about-us-contents * {
    flex: 1; }
  .about-us-contents div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em; }
  .about-us-contents p {
    text-align: justify;
    line-height: 35px;
    font-size: 16px; }
  .about-us-contents img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: -15px 15px 0px 0px #ccc; }

.glories-of-associations {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 0; }

.glory-title {
  color: #142f43;
  font-size: 30px;
  text-align: center;
  margin: 0 0 2em; }

.glory-items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  row-gap: 30px;
  column-gap: 30px; }

.glory-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: inset 0px 0 5px 0 #ccc; }

.glory-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.glory-one {
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 30px 0px 30px 30px; }

.glory-two {
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 30px 30px 0px 0px; }

.glory-three {
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 0px 30px 30px 30px; }

.glory-four {
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 30px 30px 0px 30px; }

.glory-five {
  grid-row-start: 2;
  grid-row-end: 4;
  border-radius: 0px 0px 30px 30px; }

.glory-six {
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 30px 30px 30px 0px; }

.members-part {
  padding: 0 60px;
  text-align: center;
  position: relative; }
  .members-part h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #142f43; }
  .members-part p {
    font-size: 13px;
    margin-bottom: 2em;
    color: #ff5f7e; }
  .members-part .memebers-images-container {
    margin: 4em 0 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px; }
    .members-part .memebers-images-container img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      transition: all ease-in-out 0.3s; }
  .members-part .members-details {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px -5px #0000006b;
    transition: all ease-in-out 0.3s; }
    .members-part .members-details:hover {
      cursor: pointer;
      transform: translate(0, -20px);
      box-shadow: 0px 0px 10px 0px #0000006b;
      transition: all ease-in-out 0.3s; }
  .members-part .members-hidden-content {
    padding: 2em 0; }
    .members-part .members-hidden-content h4 {
      color: #142f43;
      font-size: 20px;
      margin: 2em 0; }
    .members-part .members-hidden-content p {
      color: #142f43;
      margin-bottom: 4em; }

footer {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.08'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  padding: 30px 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  footer .footer-col {
    margin: 0 0 1em;
    padding: 0 15px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 200px; }
  footer a {
    color: #142f43;
    display: inline-block; }
    footer a:hover {
      color: #ff5f7e;
      transform: translate(-10px, 0px); }
  footer h4 {
    font-size: 25px;
    margin: 0 0 1em;
    color: #ff5f7e; }
  footer ul {
    line-height: 40px; }
  footer p {
    text-align: justify; }
  footer .foooter-call-links i {
    margin: 0 10px;
    position: relative;
    top: 2px;
    font-size: 18px;
    color: #ff5f7e; }
  footer .foooter-call-links a:hover {
    transform: translate(0, -10px); }
  footer .login-btn {
    color: #fdfdfd;
    background-color: #ff5f7e;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ff5f7e;
    padding: 10px 30px; }
    footer .login-btn:hover {
      color: #ff5f7e;
      background-color: #fdfdfd;
      transform: scale(1.1); }
  footer .social-footer {
    margin: 2em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    footer .social-footer li {
      width: 45px;
      height: 45px;
      margin: 0 5px;
      overflow: hidden;
      box-shadow: inset 0px 0px 10px -2px #0000006b;
      color: #fdfdfd;
      background-color: #ff5f7e;
      font-size: 20px;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      footer .social-footer li:hover a {
        transform: translate(0, 0); }
      footer .social-footer li:hover i {
        animation-name: comeAndGomf;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-direction: alternate; }
    footer .social-footer a {
      color: #fdfdfd; }
    footer .social-footer i {
      display: inline-block; }

.menu-actived {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh; }

@media (max-width: 1200px) {
  .firts-row {
    column-gap: 0px; }

  footer {
    font-size: 13px; }
    footer h4 {
      font-size: 17px; } }
@media (max-width: 991px) {
  .main-header {
    padding: 1em 60px; }
    .main-header .burgerIcon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .main-header .burgerIcon i {
        font-size: 20px;
        margin-left: 20px; }
    .main-header .members-part {
      margin: 2em 0 0; }
      .main-header .members-part .memebers-images-container {
        grid-template-columns: repeat(3, 1fr); }
    .main-header .main-menu {
      width: 100%; }
      .main-header .main-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .main-header .main-menu ul li {
          width: 100%;
          margin: 0 0 1em;
          border-radius: 5px;
          box-shadow: inset 0px 0px 10px -5px #0000006b;
          transition: all ease-in-out 0.3s;
          text-align: center; }
          .main-header .main-menu ul li:hover {
            box-shadow: 0px 0px 10px 0px #00000038; }
          .main-header .main-menu ul li a {
            background-color: unset; }

  .about-us-contents {
    flex-direction: column-reverse; }

  h1 {
    font-size: 20px;
    line-height: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }

  .glory-title {
    font-size: 20px;
    line-height: 45px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }

  .main-menu-container {
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    transform: translateX(-100vw);
    background-color: #fdfdfd;
    padding: 2em 3em;
    z-index: 2;
    overflow: scroll; }
    .main-menu-container .show-in-small {
      display: block; }

  .firts-row .contact-info .latest-news {
    display: none; }

  footer {
    flex-direction: column; }
    footer h4 {
      font-size: 22px; } }
@media (max-width: 768px) {
  .firts-row {
    display: none; }

  .main-header {
    padding: 1em 30px; }

  .members-part {
    padding: 0px 15px; }
    .members-part h3 {
      font-size: 25px; }
    .members-part .memebers-images-container {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 20px; }

  .glory-items-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto); }

  .glory-item {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset; }

  footer {
    padding: 30px 10px 0; }
    footer .foooter-call-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
    footer h4 {
      margin: 0; } }

/*# sourceMappingURL=about-us.css.map */
